<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= collection.name %> Collection</title>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/collection.css" />
  </head>

  <body>
    <div class="navbar">
      <a href="/collection">All Collections</a>
    </div>

    <h1>Collection : <%= collection.name %></h1>

    <% // Do not display the "Make Public" button for the favourite collection,
    // and if user does not own the collection %>
    <!--  -->
    <% if ( collection.id !== "favourites" &&
    (Object.values(isUserGenerator).every(Boolean)) ) { %>
    <button
      id="toggleVisibilityBtn"
      data-collection-id="<%= collection.id %>"
      data-is-public="<%= collection.isPublic %>"
    >
      <%= collection.isPublic ? 'Make Private' : 'Make Public' %>
    </button>
    <% } %>

    <br /><br />

    <div class="gallery" id="gallery">
      <% images.forEach(function(image) { %>
      <div class="gallery-item" style="grid-row-end: span 15">
        <div class="content">
          <img src="/<%= image.path %>" alt="" class="" />
          <div class="image-actions">
            <button class="btn-download">Download</button>
            <% if (isUserGenerator[image.id]) { %>
            <button
              class="btn-prompt"
              data-prompt="<%= image.generationInfo.prompt %>"
            >
              See prompt
            </button>
            <% }; if ( isUserLoggedIn ) { %>
            <button
              class="btn-favourite"
              data-is-favourite="<%= image.isFavourite %>"
            >
              <%= image.isFavourite ? 'Remove from Favour' : 'Add to Favourites'
              %>
            </button>
            <% }; if ( isUserGenerator[image.id] ) { %>
            <button class="btn-delete">Delete</button>
            <% } %>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <script>
      function showPrompt(event, promptText) {
        event.stopPropagation();
        alert(promptText);
      }
    </script>
    <script src="/script/collection/gallery.js"></script>
    <script src="/script/collection/toggle-visibility.js"></script>
  </body>
</html>
