<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Collections</title>
    <link rel="stylesheet" href="/style/collections.css" />
  </head>

<body>
    <section class="Grid">
        <% 
        let counter = 0;
        collections.forEach((collection, index) => {
            if (counter % 3 === 0) { 
        %>
                <div class="Grid-row">
        <% 
            }
        %>
            <a class="Card" onclick="openGallery(<%= collection.id %>)" id="card-<%= index+1 %>">
                <div class="Card-thumb">
                    <div class="Card-shadow"></div>
                    <div class="Card-shadow"></div>
                    <div class="Card-shadow"></div>
                    <div
                        class="Card-image"
                        style="background-image: url(<%= firstImageOfCollection[collection.id] %>)"
                    ></div>
                </div>
                <div class="Card-title"><span><%= collection.name %></span></div>
                <div class="Card-explore"><span>Browse all <%= numberImagesInCollection[collection.id] %> images</span></div>
                <button onclick="window.location.href='/collection/<%= collection.slug %>'" class=  "Card-button">view more</button>
            </a>
        <% 
            counter++;
            if (counter % 3 === 0) { 
        %>
                </div>
        <% 
            }
        });

        // Check if there are any remaining cards that need to be wrapped in a closing div tag
        if (counter % 3 !== 0) { 
        %>
                </div>
        <% 
            } 
        %>
    </section>
</body>
</html>
