<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= collection.name %> Collection</title>
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="/style/collection.css" />
  </head>

  <body>
    <h1>Collection : <%= collection.name %></h1>

    <button
      id="toggleVisibilityBtn"
      data-collection-id="<%= collection.id %>"
      data-is-public="<%= collection.isPublic %>"
    >
      <%= collection.isPublic ? 'Make Private' : 'Make Public' %>
    </button>

    <br /><br />

    <div class="gallery" id="gallery">
      <% images.forEach(function(image) { %>
      <div class="gallery-item" style="grid-row-end: span 15">
        <div class="content">
          <img src="/<%= image.path %>" alt="" class="" />
          <div class="image-actions">
            <button class="btn-download">Download</button>
            <button
              class="btn-prompt"
              data-prompt="<%= image.generationInfo.prompt %>"
            >
              See prompt
            </button>
            <button class="btn-delete">Delete</button>
          </div>
        </div>
      </div>
      <% }); %>
    </div>

    <script>
      function showPrompt(event, promptText) {
        event.stopPropagation();
        alert(promptText);
      }
    </script>
    <script src="/script/collection/gallery.js"></script>
    <script src="/script/collection/toggle-visibility.js"></script>
  </body>
</html>
